<!DOCTYPE html>  
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		
		<title>{% block _title %}{% endblock %}</title>
		
		<meta name="description" content="{% block _description %}{% endblock %}">
		<meta name="keywords" content="{% block _keywords %}{% endblock %}">
		<meta name="author" content="Django Boilerplate">
		
		<link rel="shortcut icon" href="/favicon.ico">
		
		<link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css?v=2">
		{% block _css %}{% endblock %}
		<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css?v=2">
		
		<script src="{{ STATIC_URL }}js/modernizr-1.7.min.js"></script>
		<script src="{{ STATIC_URL }}js/less-1.0.41.min.js"></script>		
	</head>
	<body>
		<div id="page">
			{% block page %}{% endblock %}
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
		{% block _javascript %}{% endblock %}
		<script src="{{ STATIC_URL }}js/script.js"></script>
		<script src="{{ STATIC_URL }}js/plugins.js"></script>
		<script type="text/javascript">
			 var _gaq = _gaq || [];
			 _gaq.push(['_setAccount', 'UA-19323618-1']);
			 _gaq.push(['_trackPageview']);

			 (function() {
			   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			 })();
		</script>
	</body>
</html>