{% extends "base.tmpl" %}

{% block page %}
	<p>Paragraph1: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est tellus, imperdiet pretium dictum viverra, molestie quis augue. Nam sed lectus massa. Nullam porta volutpat magna, ut accumsan purus scelerisque convallis. Ut rhoncus nunc elementum ante gravida auctor quis id mauris. In scelerisque magna non turpis feugiat non eleifend ligula hendrerit. Nam vitae nulla augue. Phasellus in metus sit amet lorem iaculis aliquam a sit amet est. Vivamus tincidunt volutpat nibh, non accumsan odio varius nec. Etiam felis nulla, blandit a dapibus tristique, malesuada consectetur dui. Phasellus a tellus turpis, pharetra dapibus neque. Quisque pretium porttitor lorem, quis congue elit molestie in. Vestibulum a erat et magna cursus placerat. Nunc laoreet scelerisque facilisis. Curabitur gravida lectus vitae mi tristique vel volutpat nisi dictum.</p>
	<p>Paragraph2: Nam a nunc in orci dapibus egestas quis in nulla. Quisque consectetur eros vel odio pellentesque eu rutrum ipsum venenatis. Fusce metus est, fermentum a blandit sit amet, cursus non erat. Proin blandit, quam faucibus euismod consectetur, quam nulla mollis ligula, ut porta tellus diam ac leo. Quisque tincidunt commodo egestas. Suspendisse consequat quam vitae turpis ultricies consectetur. Phasellus at sem sed nisl pharetra faucibus. Vestibulum vulputate eros sed urna fermentum eu lobortis enim luctus. Sed pharetra tortor est, quis congue dui. Integer tempor ante in sem auctor sagittis dapibus mauris rutrum. Proin eu ultricies neque. Cras diam neque, gravida at ultricies non, ornare vel dui</p>
	<hgroup>
		<h1>Heading 1</h1>
		<h2>Heading 2</h2>
		<h3>Heading 3</h3>
		<h4>Heading 4</h4>
		<h5>Heading 5</h5>
		<h6>Heading 6</h6>
	</hgroup>
	<article>
		<h1>Article heading 1</h1>
		<section>
			<h2>Section heading 2 - 1</h>
			<p>Section</p>
		</section>
		<section>
			<h2>Section heading 2 - 2</h>
			<p>Section</p>
		</section>
	</article>
	<div class="block">
		This is a block div.
	</div>
	{# Add your own css tests here #}
{% endblock %}